.cardGrid {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
}

@media (min-width: 640px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .cardGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.btnPrimary {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 65px;
  margin: 20px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  transition: 0.2s;
}

.card:hover {
  box-shadow: 0 3px 15px rgba(0,0,0,0.1);
}

.cardBody {
  padding: 1rem;
}