:root {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0px 195px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.grid-3 {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s;
  background: white;
  display: grid;
}

.grid-3 .featured-card {
  display: inline-block;
  border-color: #747bff;
  background-color: #a8acec;
  border-radius: 50px;
  width: 200px;
  text-align: center;
}